body {
  background-color: rgb(255, 255,	255);
}

/* Hover effect for the button */
button:hover {
  background-color: rgb(54, 54, 54) !important;
}

/* dark mode color */
.dark .article-container {
  background-color: rgb(27, 31, 61);
}
.dark .page-footer {
  background-color: rgb(38, 44, 85);
}




